**Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))
print(s1,s2,s3,s4)

0    0.422013
1    0.946669
2    0.220610
3    0.478996
dtype: float64 0    0.243920
1    0.219687
2    0.648540
3    0.106789
dtype: float64 0    0.130572
1    0.707053
2    0.859750
3    0.860135
dtype: float64 0    0.789763
1    0.836957
2    0.439294
3    0.989817
dtype: float64

In [ ]:
df = pd.DataFrame([s1,s2,s3,s4])

In [ ]:
df

          0         1         2         3
0  0.422013  0.946669  0.220610  0.478996
1  0.243920  0.219687  0.648540  0.106789
2  0.130572  0.707053  0.859750  0.860135
3  0.789763  0.836957  0.439294  0.989817

In [ ]:
df = df.T
df

          0         1         2         3
0  0.422013  0.243920  0.130572  0.789763
1  0.946669  0.219687  0.707053  0.836957
2  0.220610  0.648540  0.859750  0.439294
3  0.478996  0.106789  0.860135  0.989817

**Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'**

In [ ]:
df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.422013        0.243920        0.130572        0.789763
1        0.946669        0.219687        0.707053        0.836957
2        0.220610        0.648540        0.859750        0.439294
3        0.478996        0.106789        0.860135        0.989817

**Task - 3 Find the descriptive statistics of the 'df' dataframe.**

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.517072        0.304734        0.639377        0.763958
std          0.307099        0.236865        0.346776        0.232675
min          0.220610        0.106789        0.130572        0.439294
25%          0.371662        0.191463        0.562933        0.702145
50%          0.450504        0.231804        0.783401        0.813360
75%          0.595914        0.345075        0.859846        0.875172
max          0.946669        0.648540        0.860135        0.989817

In [ ]:
df.describe(include = 'all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.517072        0.304734        0.639377        0.763958
std          0.307099        0.236865        0.346776        0.232675
min          0.220610        0.106789        0.130572        0.439294
25%          0.371662        0.191463        0.562933        0.702145
50%          0.450504        0.231804        0.783401        0.813360
75%          0.595914        0.345075        0.859846        0.875172
max          0.946669        0.648540        0.860135        0.989817

**Task - 4 Check for the null values in 'df' and find the data type of the columns.**

In [ ]:
# Checking for the null values in 'df'

In [ ]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df.isnull().all()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [ ]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
# finding the datatype of the columns

df.info()

In [ ]:
# finding the datatype of the columns
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

**Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.**

In [ ]:
# Location Method

df.loc[0: , 'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.243920        0.130572
1        0.219687        0.707053
2        0.648540        0.859750
3        0.106789        0.860135

In [ ]:
# Index Location Method

df.iloc[0: , 1:3]

   Random value 2  Random value 3
0        0.243920        0.130572
1        0.219687        0.707053
2        0.648540        0.859750
3        0.106789        0.860135